USE [master]
GO
/****** Object:  Database [hoteldb]    Script Date: 5/2/2025 7:34:57 PM ******/
CREATE DATABASE [hoteldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hoteldb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hoteldb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hoteldb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\hoteldb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hoteldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hoteldb]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 5/2/2025 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NULL,
	[mobile] [bigint] NOT NULL,
	[nationality] [nvarchar](50) NULL,
	[gender] [nvarchar](10) NULL,
	[dob] [varchar](50) NOT NULL,
	[idproof] [varchar](250) NOT NULL,
	[address] [nvarchar](100) NULL,
	[checkin] [varchar](250) NOT NULL,
	[checkout] [varchar](250) NULL,
	[chekout] [varchar](250) NULL,
	[roomid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customerRequest]    Script Date: 5/2/2025 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [varchar](50) NULL,
	[Request] [nvarchar](255) NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 5/2/2025 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[ename] [nvarchar](50) NULL,
	[mobile] [bigint] NOT NULL,
	[gender] [nvarchar](10) NULL,
	[emailid] [varchar](120) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[pass] [varchar](150) NOT NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 5/2/2025 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[roomid] [int] IDENTITY(1,1) NOT NULL,
	[roomNo] [varchar](250) NOT NULL,
	[roomType] [nvarchar](50) NULL,
	[bed] [nvarchar](50) NULL,
	[price] [bigint] NOT NULL,
	[booked] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customerRequest] ON 

INSERT [dbo].[customerRequest] ([Id], [RoomNo], [Request], [EmployeeName], [Status]) VALUES (5, N'3', N'Ruou', N'khoi', N'Da gui yeu cau')
INSERT [dbo].[customerRequest] ([Id], [RoomNo], [Request], [EmployeeName], [Status]) VALUES (6, N'4', N'Khan tam', N'phong', N'Da gui yeu cau')
INSERT [dbo].[customerRequest] ([Id], [RoomNo], [Request], [EmployeeName], [Status]) VALUES (7, N'5', N'Dep', N'khoi', N'Da gui yeu cau')
SET IDENTITY_INSERT [dbo].[customerRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([eid], [ename], [mobile], [gender], [emailid], [username], [pass], [role]) VALUES (9, N'Binh kun', 78543568, N'Male', N'binh@gmail.com', N'NULL', N'NULL', N'Nhân viên dọn dẹp')
INSERT [dbo].[employee] ([eid], [ename], [mobile], [gender], [emailid], [username], [pass], [role]) VALUES (10, N'Nguyen Dang Khoi', 784324567, N'Male', N'khoidb@gmail.com', N'gay', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', N'Quản lý')
INSERT [dbo].[employee] ([eid], [ename], [mobile], [gender], [emailid], [username], [pass], [role]) VALUES (11, N'Tran Huynh Sang', 78657354, N'Male', N'Sang24@gmail.com', N'sang', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', N'Nhân viên lễ tân')
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([roomid], [roomNo], [roomType], [bed], [price], [booked]) VALUES (23, N'1', N'Có máy lạnh', N'Giường đôi', 250000, N'NO')
INSERT [dbo].[rooms] ([roomid], [roomNo], [roomType], [bed], [price], [booked]) VALUES (24, N'2', N'Có máy lạnh', N'Giường đơn', 200000, N'NO')
INSERT [dbo].[rooms] ([roomid], [roomNo], [roomType], [bed], [price], [booked]) VALUES (25, N'3', N'Không có máy lạnh', N'Giường đơn', 120000, N'NO')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ('NO') FOR [chekout]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('NO') FOR [booked]
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD FOREIGN KEY([roomid])
REFERENCES [dbo].[rooms] ([roomid])
GO
USE [master]
GO
